<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href="@{/list}">Back</a>
<div>
    <img th:if="${product.picture != null && #strings.length(product.picture) > 0}"
         style="max-width: 25%;"
         th:src="@{/uploads/pic/} + ${product.picture}" th:alt="${product.name}">
    <ul>
        <li th:text="${product.name}"></li>
        <li th:text="'Id: ' + ${product.id}"></li>
        <li th:text="'Price: ' + ${#numbers.formatCurrency(product.price)}"></li>
        <li th:text="'Date: ' + ${#calendars.format(product.createAt, 'MM/dd/yyyy')}"></li>
    </ul>
</div>
</body>
</html>